* {
    box-sizing: border-box;
}

body {
    background-color: #f5f9ff;
}

.main_text {
    font-family: Gelasio, helvetica;
    color: #0047d1;
}

p {
    font-family: Rubik, sans-serif;

}

/*------------------------------- NAVBAR */
.navbar {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    width: 100vw;
    height: auto;
    padding-left: 0;
    list-style: none;
}

nav p {
    margin-bottom: 0;
    margin-left: 18px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    color: #000833;
    font-family: Rubik, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    margin-right: 22px;
    border-bottom: 2px transparent solid;
}

li:hover {
    border-bottom: 2px #ffdb5c solid;
}

.lang_toggler {
    width: 86px;
}



/*------------------------------ MAIN */

main {
    height: 675px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 40px;
}

.home {
    margin-left: 100px;

}

.title {
    height: auto;
    width: 350px;
}

section h1 {
    font-size: 80px;
    line-height: 70px;
    margin-bottom: 30px;
}

.main_p {
    width: 700px;
    height: auto;
    font-size: 32px;
}

/*----------------------------- PROJECTS */

#projects {
    margin: 40px 0;
    padding: 40px 0;
}

.project_am {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project_link {
    margin-right: 20px;
}

.project_text {
    margin-left: 20px;
    margin-top: 10px;
    width: 200px;
    height: auto;
}

.project_text h3 {
    font-size: 28px;
}

.project_text p {
    font-size: 20px;
    margin: 0;
}

#am_taller {
    width: 350px;
    height: auto;
}

/* ---------------------------- ABOUT ME */

#about_me {
    margin: 40px 0;
    padding: 40px 0;
}

.aboutme_intro {
    width: auto;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#about_me h2 {
    width: 600px;
    font-family: Rubik, sans-serif;
    color: #000833;
    font-weight: lighter;
}

#stgo_map:hover {
    color: #0047d1;

}

#id_photo {
    border-radius: 5px;
    transform: rotate(7.5deg);
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 850px;
    margin: auto;
    padding-top: 100px;
}

.skills h3 {
    font-size: 28px;
    margin: 15px 0;
}

.skills p {
    font-size: 20px;
    margin-bottom: 65px
}


.certificates_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.3fr 0.7fr;
    grid-auto-flow: row;
    grid-template-areas:
        "img img"
        "p p";
    width: 80%;
    height: 60%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: start;
    margin-left: 150px;
}

.certificates_grid p {
	font-size: 20px;
}

/* ---------------------- CONTACT */

.contact_mail {
	display:  flex;
	flex-direction: column;
	justify-content: center;
    align-items: flex-start;
    width: 850px;
    margin: auto;
}

.contact_mail p {
	font-size: 20px;
	margin-bottom: 0;
}

.contact_mail h3 {
	font-size: 36px;
	margin-top: 15px;
}

.contact_socialmedia {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.contact_socialmedia img {
	padding: 0 30px;
}

/* ----------------------- FOOTER */

.footer {
	display:  flex;
	flex-direction: row;
	justify-content: center;
	font-size: 14px;
	margin-top: 100px;
	padding-top: 100px;
}


















